<div>
    <h2>Recuperación de Email</h2>
    <form id="recuperarForm">
        <input type="text" name="email" placeholder="Introduce tu email" id="email" required>
        <button type="button" onclick="recuperar()">Recuperar</button>
    </form>
</div>
{{>menu}}

<script src="/js/recovermail.js"></script>